<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Schmuka</title>

    <!-- Bootstrap core CSS -->
    <link href= "vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">

  </head>

  <body>

    <!-- LOGIN FORM -->

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Schmuka</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Hjem
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logg ut</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">Manager</h1>
        <p class="lead">Her kan du melde inn tekniske behov for band/artist.</p>
      </header>

		<!-- Tab panes -->
			<div class="tab-pane" id="profile" role="tabpanel">
				<form>
          <div class="form-group">
            <label for="Epost">Din epost:</label>
            <input type="email" class="form-control" id="ManagerEpost" placeholder="Skriv inn din epost">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Band/Artist:</label>
            <input type="text" class="form-control" id="artist" placeholder="Skriv inn band eller artist-navn">
          </div>
          <div class="form-group">
            <label for="exampleTextarea">Tekniske behov:</label>
            <textarea class="form-control" id="tekniskeBehov" rows="12"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Send</button>
        </form>
			</div>
		</div>
	</div>
</div>

	</br>
	</br>
	</br>

    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
