<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
  <title>UKA 2017 arrangement applikasjon</title>
</head>
<body>
  <div class="container">
    <!-- Header with title -->
    <div class="page-header">
      <h1>UKA 2017 arrangement applikasjon</h1>
    </div>
    <!-- button container that contains the two big red buttons which redirects you to STUDENT page or Teacher page -->
      <div class="buttonContainer">
        <div class="insideButtons">
        <button class="mybutton" role=button style="vertical-align: middle"><span>Arrangør</span></button>
        <button class="mybutton" role=button style="vertical-align: middle"><span>LYSTEKNIKER</span></button>
      </div>
    </div>
  </div>

  <footer></footer>
</body>
</html>
